<launch>

  <include file="$(find husky_gazebo)/launch/random_world.launch" />

  <!-- <include file="$(find husky_gazebo)/launch/spawn_husky.launch"/> -->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="5 $(find mastering_ros_demo_pkg)/launch/demo_topic.launch" name="timed_roslaunch" output="screen"/>
  

</launch>